# Git
.git/
.gitignore

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Tests & coverage
tests/
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# CI/CD
.github/

# Dev tooling
.pre-commit-config.yaml
.devcontainer/

# Docs
docs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
secrets/

# Logs
*.log
